</div>
</br>
</br>
</br>
<footer class="footer">
<div class="container">
<p style="text-align:center;"> Anik Paul Gomes 
</br> Northwest Missouri State University
</p>
</div>

</footer>
</body>
</html>