<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- CSS -->
<link rel="stylesheet" type="text/css" href="contactStyle.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<link rel="stylesheet" type="text/css" href="guestbook.css">


  <title>Guestbook</title>
</head>


<!-- Main body -->
<body>

<!-- Navigation bar -->
<div class="container">
        <div class="navbar-wrapper">
                
                    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" id="websiteName" href="index.html"><span class="glyphicon glyphicon-home"></span> Semester Grade Calculator</a>
                                
                            </div>
                            <div class="navbar-collapse collapse">
                                
                                <ul class="nav navbar-nav">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="gradeCalc.html"> GPA Calculator</a></li>
                                    <li><a href="contact.html">Contact</a></li>
									<li class="active"><a href="/guestbook">Guestbook</a><li>
                                </ul>
                                 <a href="/new-entry" class="btn btn-primary pull-right"> Write in the guestbook</a>   
                            </div>
                            
                        </div>
                    </div>
                    
                
        </div>
</div>

<div id="guestbook" class="container">

